* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}

.text-field {
    -fx-accent: #007acc;
    -fx-text-fill: white;
    -fx-background-color: #c7b8b8, #3c4257;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;

}
.text-field:hover{
    -fx-background-color: #ffffff, #3c4257;

}
.text-field:focused {
    -fx-background-color: #007acc, #3c4257;
}